/* Ceramic variables */
$theme-color: #4B6A78;
$text-color: #000000;
$text-color-secondary: #000000;
$text-grey: #000000;
$divider: #e8e8e8;
$lighter-grey: #ffffff;
$darker-grey: #ffffff;
$smoky-white: #ffffff;
$heart: #fb866a;
